/*  MICROTHEMER STYLES  */


/*= Header ==================== */

/** Header >> Dt buttons new table entry **/
.page-id-145 .dt-buttons .new_table_entry {
	color: rgb(255, 255, 255) !important;
	font-size: 0 !important;
}

/** Header >> Dt buttons edit table:(2) **/
.page-id-145 .dt-buttons > .edit_table:nth-of-type(2) {
	color: rgb(255, 255, 255) !important;
	font-size: 0 !important;
}

/** Header >> Page id 145 delete table entry **/
.page-id-145 .delete_table_entry {
	color: rgb(255, 255, 255) !important;
	font-size: 18px !important;
	text-align: center !important;
	text-shadow: 0 0 rgb(186, 104, 200) !important;
	background-color: rgb(186, 104, 200) !important;
	padding: 15px 30px 15px 30px !important;
	border-radius: 20px !important;
}

/** Header >> Wdt table title 1 **/
#wdt-table-title-1 {
	margin-bottom: -40px !important;
}

/** Header >> Primary menu link _2 **/
.page-id-0 .primary-menu a {
	font-size: 0 !important;
	filter: blur(50px) brightness(0) contrast(0) opacity(0) saturate(0) !important;
	padding: 0 !important;
	margin-right: -500px !important;
}

